.content{
	font-family:tahoma;
	display: block;
	justify-content: center;
	width: 100%;
}
.system-heading-block{
	font-family:garamond;
	font-size: 30px;
	font-variant: small-caps;

	margin:10px;
	padding: 20px;
	
	text-align: center;
	
	display: flex;
	justify-content: center;

	/*background-color: darkslateblue;*/
	/*color: white;*/
	
}
.system-heading-block h1{
	width: 600px;
}
a{
	text-decoration: none;
}
.nav-bar{
	padding-top: 20px;
	padding-bottom: 20px;
	margin:10px;
	background-color: white;

}
section{
	margin:10px;
}
form{
	margin:10px;
	/*margin-bottom: 20px;*/
	font-family: consolas;
	font-size:18px;
	background-color: lightgrey;
	width: 99%;
}
form h3{
	background-color: black;
	color: white;
	font-variant-caps:small-caps;
	font-size: 24px;
	padding: 10px;
	font-family: sans-serif;
	user-select: none;
	cursor: pointer;
	margin: 0;

}
form table{
	padding: 10px;
	transition: 2s;
	width: 40%;
}
input,label,select{
	user-select: none;
	margin:10px;
	font-family: consolas;
	font-size:18px;
	border:none;
	padding: 5px;
	border-radius: 5px;
}
input[type=text],select{
	/*border: 2px solid grey;*/
}
input[type=checkbox]{
	width: 30px;
	height: 30px;
	
}
input[type="checkbox"]:checked{
	

}

input[type=submit]{
	
	border: none;

	font-variant-caps:small-caps;
	width: 100px;
	padding: 5px;
}
input[type=submit]:hover{
	/*background-color: darkslateblue;*/
	cursor: pointer;
}
button,.btn{
	
	cursor: pointer;
	/*width: 60px;*/
	
	border: none;
	border-radius: 4px;
	transition: .5s;
	text-align: center;

	padding-left: 15px;
	padding-top: 8px;
	padding-right: 15px;
	padding-bottom: 8px;
	user-select: none;
	
}
.btn-success{
	color:white;
	background-color: mediumseagreen;
}
.btn-success:hover{
	background-color: seagreen;	
}
.btn-start{
	background-color: dodgerblue;
	color: white;
}
.btn-start:hover{
	background-color: steelblue;
}
.btn-stop{
	background-color: tomato;
	color: white;	
}
.btn-stop:hover{
	background-color: sienna;
}
.btn-add{
	background-color: slateblue;
	color: white;	
}
.btn-add:hover{
	background-color: darkslateblue;
}
.btn-light-red{
	background-color: whitesmoke;	
	color:firebrick;
}
.btn-light-red:hover{
	background-color: gainsboro;
	color: darkred;
}
.add-server-label{
	box-shadow: 2px 2px 8px 0px black;
}
.add-script-label{
	box-shadow: 2px 2px 8px 0px black;
}
.add-server-form-input-table{
	transition: .5s;
	height: 0px;
	transform: scaleY(0);
}
.add-script-form-input-table{
	transition: .5s;
	height: 0px;
	transform: scaleY(0);
}
.login-form-table{
	display: flex;
	justify-content: center;
}
.login-form-table table{
	background-color: lightgrey;
	border-radius: 5px;
}
.status-msg-block{
	transition: 1s;
	margin:0;
	/*height: 20px;*/
	/*border: 1px solid black;*/
}
.status-msg{
	margin:10px;
	padding: 15px;
	font-family: consolas;
	font-variant-caps: small-caps;

	display: flex;
	justify-content: center;

}
.status-msg-text{
	width: 100%;
	text-align: left;
	
}
.status-msg-close-icon{
	width: 100%;
	text-align: right;
}
.status-msg-close-icon i{
	cursor: pointer;
}
.status-msg-success{
	color:white;
	background-color: seagreen;
}
.status-msg-error{
	color:white;
	background-color: sienna;
}
.show-all-servers-label{
	font-family:tahoma;
	margin:10px;
	margin-top: 30px;
}

.script-list-block{
	font-family:tahoma;
	font-variant-caps: small-caps;
	margin:10px;
	margin-top: 30px;

	/*display: flex;*/
	/*justify-content: center;*/
	/*background-color: lightgrey;*/
	padding: 10px;
	
}
.script-list-block table{
	
	/*width: 800px;*/
	width: 100%;
	/*background-color: lightgrey;*/
	box-shadow: 4px 4px 8px 5px lightgrey;
	text-align: center;
}
.script-list-block table td{
	padding: 20px;
}

#show_servers_table td{
	border-bottom: 1px solid lightgrey;
}

.error-404{
	background-color: oldlace;
	margin: 10px;
	padding: 20px;
	color: indianred;
}

/* The animation code */
@keyframes fadeOutStatus {
  from {
  	display: block;
  	scaleY(1);
  }
  to {
  	scaleY(0);
  	display: none;
  }
}

@media only screen and (max-width:800px) {

  /**{
  	margin:0px;
  	padding: 0px;
  }*/
  .btn {
    padding: 10px;
    text-decoration: underline;
    line-height: 30px;
    background-color: white;
    color:dodgerblue;
    font-weight: 800;
  }
  .btn:hover{
  	color:darkblue;
  	background-color: white;
  }

  form table{
  	width: 100%;
  }
  form table tr td{
  	width: 40%;
  }
  form table tr label{
  	width: 60%;
  }
  form table tr input{
  	width: 92%; 
  }
  /*.script-list-block table{
  	width: 60%;
  }*/
}
